# Remplacez par votre URL de connexion Supabase (Transaction Pooler ou Direct Connection)
DATABASE_URL="postgresql://postgres.[votre-projet]:[votre-mot-de-passe]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
JWT_SECRET="supersecret_change_this_in_production"
ADMIN_EMAIL="admin@colistrack.com"
ADMIN_PASSWORD="AdminPassword123!"
PORT=3000
